<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363913278377-m845mcd4748miv48t9o0o9hamvtk65be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363913278377-m845mcd4748miv48t9o0o9hamvtk65be</string>
	<key>API_KEY</key>
	<string>AIzaSyA8bGNHybPhhhHbzsecXRa0yf6lSEBQMr0</string>
	<key>GCM_SENDER_ID</key>
	<string>363913278377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>devcarl-tinder</string>
	<key>STORAGE_BUCKET</key>
	<string>devcarl-tinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363913278377:ios:18d7bc5762c3a139b54ab8</string>
</dict>
</plist>